.effect-fade {
    opacity: 0;
    transform: translate(0, 100px);
    /* フェードインで動く高さを指定 */
    transition: all 1000ms;
    /* フェードインにかかる時間を指定 */
  }
  
  .effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  .effect-fade:nth-of-type(2) {
    transition-delay: 400ms;
  }
  
  /* 3つ目の要素に800msのdelayをかける */
  .effect-fade:nth-of-type(3) {
    transition-delay: 800ms;
  }
  